<section *ngIf="user">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
  <span [ngClass]="{ 'success-msg': taskMessage }">{{ taskMessage }}</span>
  <!------------------ POPUP ------------------>
  <div class="popup-holder" *ngIf="showPopup">
    <div class="popup">
      <span class="x"><p (click)="showPopup = false">x</p></span>
      <div class="head">
        <h2>High Priority Tasks of Today</h2>
      </div>
      <div class="body">
        <ul>
          <li *ngFor="let task of highPtiorityTasks">{{ task.task | primaryCase}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="nav">
    <app-nav-bar></app-nav-bar>
  </div>
</section>
