section,
form {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  gap: 20px;
  color: #fff;
  height: 80vh;
  user-select: none;
  max-height: 80vh;
  flex-direction: column;
}

h1 {
    font-size: 2rem;
    color: #86b3f7;
    margin-bottom: 40px;
}

form {
  gap: 20px;
  width: 100%;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}

label {
  color: #86b3f7;
  font-weight: bold;
}

input, button {
  width: 100%;
  border: none;
  padding: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
}

button {
    cursor: pointer;
    background: #86b3f7;
}

.error-msg {
  color: red;
}